<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
    <script src="{% static 'traderlife/common.js' %}"></script>
    <link href="{% static 'traderlife/common.css' %}" rel="stylesheet"></link>
    <title>my projects</title>
</head>

<body class="background">
<div class="nav"></div>
<div class="container">
    <div>
        <img style="display: inline" width="80px" height="80px" src="{% static 'traderlife/img/homepage_welcome.png' %}">
        <h3 class="header">My Projects</h3>
    </div>

        <ul class="menulist">
            <a href="{% url 'traderlife:index' %}"><li><h4>traderlife</h4></li></a>
            <a href="{% url 'hub:index' %}"> <li><h4>hub</h4></li></a>
        </ul>
</div>
</body>

</html>